<mat-form-field appearance="outline" class="password-field">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix>lock_outline</mat-icon>
  <input
    matInput
    [type]="hidden() ? 'password' : 'text'"
    [autocomplete]="autocomplete"
    [ngModel]="value"
    [disabled]="disabled"
    (ngModelChange)="handleInput($event)"
    (blur)="markTouched()"
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    [attr.aria-label]="hidden() ? 'Afficher le mot de passe' : 'Masquer le mot de passe'"
    (click)="toggleVisibility()"
  >
    <mat-icon>{{ hidden() ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  @if (errorMessage) {
    <mat-error>{{ errorMessage }}</mat-error>
  } @else if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
  }
</mat-form-field>
